
.about-header{
	padding: 20px 5px 20px 5px;
	background: #fff;
	text-align: center;
}

.footer{
	padding: 5px 2px 2px 10px;
	background: #fff;
}

.text-about{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}

.click{
	color: #00d;
	font-size: 18px;
}

