
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> {{ 'LABEL_ABOUT' | translate }}</ion-title>

    <ion-buttons end>
     </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>  

  <!--ion-fab right bottom>
     <div style="background: rgba(220, 200, 220, 0.4); padding: 6px 6px 6px 6px;">
      <p>Powered by </p>
          <a href="https://oneclick.ht/">
            <img src="assets/img/logo/oneclick.jpg" height="64" width="64">
          </a>
      </div>
    <ion-fab-list side="left">
    </ion-fab-list>
  </ion-fab-->


	<ion-card>
	</ion-card>
  <div class="about-header">
    <img src="assets/img/conference/haccof.png" alt="acof logo">
  </div>
  <div padding class="about-info">
    <h4>HACCOF</h4>


    <p class="text-about">
      Established in February 2005, the Haitian-American Chamber of Commerce of Florida (HACCOF) serves
      as a resource for its members, partners and businesses, dedicated to serving their needs and the economic
      development of the broader Haitian-American community. The Chamber promotes partnerships and
      alliances within communities throughout Florida and Haiti to build healthy business climates, foster
      investment opportunities, create employment growth, and encourage public and private sector
      collaboration
    </p>
  </div>
  <hr style="height: 2px; background: #bbb">
  <div padding>
  <p> 1125 NE 125th Street, Suite 208, North Miami, FL 33161 </p>
  <p> Phone: 305-733-9066 </p>
  <p> Email: info@haccof.com 
  <p> Web Site: <a href="https://www.haccof.com"> www.haccof.com </a> 
  </p>
  <br/><br/>
  </div>

  <div style="background: rgba(220, 200, 220, 0.4); padding: 6px 6px 6px 6px; text-align: center; border: solid 1px #333;">
      <p>Powered by </p>
          <a href="https://oneclick.ht/">
            <img src="assets/img/logo/oneclick.jpg" height="64" width="64">
          </a>
      <p>https://oneclick.ht</p>
   </div>
</ion-content>