
<ion-content padding>
		<img src="assets/img/conference/habs.png">

	   <ion-card style="background: #eee;">
	    <ion-card-content>
	      <ion-card-title>
        {{ 'LABEL_THANKS' | translate }}
	      </ion-card-title>
	       <h3> <strong style="color: #130f2f;"> Haitian American Business Summit </strong> </h3>
	       <hr>
	    </ion-card-content>
	  </ion-card>
	  <ion-card style="background: #eee;">
	  	<ion-card-header>
	  		<ion-list>
		      <ion-list-header>
		        {{ 'LABEL_PATNERS' | translate }} & {{ 'LABEL_SPONSORS' | translate }}

		      </ion-list-header>
		    </ion-list>
	  	</ion-card-header>
	  	<ion-card-content >
	  	    <ion-grid>
		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/2.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/6.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>
		   	  <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/3.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/4.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>

		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/1.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/5.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/7.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/8.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>


		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/9.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/10.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/11.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/12.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/13.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/14.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/15.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/16.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/17.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/18.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/19.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/20.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/21.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/22.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>



		      <ion-row>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/23.png">
		             </ion-icon> <p></p>
		          </ion-col>
		          <ion-col class="menu-item">
		             <ion-icon>
		             <img src="assets/img/logo/24.png">
		             </ion-icon> <p></p>
		          </ion-col>
		      </ion-row>


		    </ion-grid>
	  	</ion-card-content>
	  </ion-card>
	  <ion-card>
	  	<ion-card-header>
	  		<ion-list>
		      <ion-list-header>
		        MEDIA SPONSORS
		      </ion-list-header>
		    </ion-list>
	  	</ion-card-header>

	  <ion-card-content>
	     <div style="font-size: 25px; font-weight: bold; color: #130f2f">
			Radio Mega 1700 AM | WSRF 1580 AM | Island TV | Télé Image, NY | Le Nouvelliste | Le ational | Le Floridien | Imaginart | Sak Pase Media | EdLoz Morning Show | Chokarela | Radio Amérique Internationale | Gadé Tèt Ou | Voice of The America
		  </div>
	  </ion-card-content>
	  </ion-card>
</ion-content>
