
<ion-content padding>
  <img src="assets/img/habs2.jpg">
  <div style="text-align: center;">
  <p style="font-size: 18px;">
  	Haitian American Chamber of Commerce of Florida (HACCOF) and the Office of Commissioner Jean Monestime presents the Haitian American Business Summit
  </p>
  <p style="font-size: 30px;">• Connect • Engage • Invest </p>
  </div>
</ion-content>
