<!--
  Generated template for the MupanahPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>MUPANAH</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
<ion-card>
   <ion-card-header>
          <p style="color: #ff5959; text-transform: uppercase;">Musée du Panthéon National Haïtien </p>
   </ion-card-header>
   <ion-card-content>
	 <img src="assets/img/data/mupanah/mupanah000.jpg" imageViewer>
   </ion-card-content>
</ion-card>

<ion-card color="">
   <ion-card-content>
   	<p style="color: #ff5959">MÉMOIRE ET HISTOIRE DE L'ESCLAVAGE LIEUX ET ÉVÉNEMENTS</p>
   </ion-card-content>
</ion-card>

<ion-card>
	 <img src="assets/img/data/mupanah/mupanah006.jpg" imageViewer>
</ion-card>

<ion-card>
	<ion-card-header color="danger">
		<strong>Historique</strong>
	</ion-card-header>

	<ion-card-content>
		<div class="just">
		Le musée du Panthéon national haïtien a été inauguré en 1983. Ce lieu culturel vise à perpétuer et à diffuser le souvenir des « Pères de la Patrie ». Une de ses principales missions est de participer à la conservation du Patrimoine et à la diffusion de la culture nationale. Le MUPANAH est une institution qui a pour fonction la conservation, la protection et la valorisation du patrimoine historique et culturel. Il participe à la formation, l'animation et la promotion de ce patrimoine ainsi qu'à l'enrichissement de son fonds documentaires et de ses collections par l'acquisition d'œuvres artistiques.
		</div>
	</ion-card-content>
</ion-card>


<ion-card>
	<ion-card-header color="danger">
		<strong>Collections</strong>
	</ion-card-header>

	<ion-card-content>
		<div class="just">
		Le musée présente des vestiges taïnos, espagnols, coloniaux, et une section consacrée aux héros de l'indépendance avec notamment le pistolet en argent avec lequel Henri Christophe se suicida et la cloche ayant servi à annoncer l'indépendance. Il renferme également des chaînes d'esclaves, des instruments de torture, des sculptures, et accueille des expositions temporaires de peintures. Autre curiosité, l'ancre de la caravelle de Christophe Colomb, la Santa Maria mesurant 4 mètres de haut.
		</div>
	</ion-card-content>
</ion-card>

<ion-card>
	<ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col><img src="assets/img/data/mupanah/mupanah002.jpg" imageViewer> </ion-col>
				<ion-col><img src="assets/img/data/mupanah/mupanah004.jpg" imageViewer> </ion-col>
			</ion-row>
			<ion-row>
				<ion-col><img src="assets/img/data/mupanah/mupanah005.jpg" imageViewer> </ion-col>
				<ion-col><img src="assets/img/data/mupanah/mupanah003.jpg" imageViewer> </ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-card>

<ion-card>
	<ion-card-content>
		<p>
		 Tel: +509 34 17 4435 
		</p>
		<p>
		 Adresse: Avenue de la République, Port-au-Prince
		</p>

		<!--button ion-button full color="dark" (click)="goMap()">Map</button-->
	</ion-card-content>
</ion-card>
</ion-content>
