page-home {

}

.my-class{
	margin-right: 100px;
}

.home{
	background-image: url('../assets/img/home1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.btn-center{
	text-align: center;
	margin-top: 20%;
	//background: rgba(0, 0, 5, 0.5);
	width: 220px;
	margin: 0 auto;
}

.bord{
	background: rgba(0, 0, 0, 0.4);
	//border: solid 1px #000;
	padding: 30px 30px;
}