<ion-content padding class="home">

   <div style="margin-top: 40%">
   	
   </div>
   <ion-row>
     <ion-col class="">
     	  <div class="btn-center">
		      <img src="assets/img/logo/logo.png" >          
        </div>
     </ion-col>
   </ion-row>

   <div style="margin: 0% 20% 0 20%;">
     <ion-row padding>
      <ion-col col-10>
          <button ion-button full (click)="openMenu()" color="dark">{{ 'LABEL_GO' | translate }}</button>
      </ion-col>
      <ion-col col-2>
          <button ion-button full color="danger" (click)="goSettings()"> 
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>          
          </button>
      </ion-col>
     </ion-row>
  </div>
</ion-content> 
