
<ion-content>
  <div style="text-align: center;">
	   <img src="assets/img/conference/c005.jpg">
  </div>
	<ion-card>

    <ion-card-content>
      <ion-card-title>
            <div style="text-align: center;">

        <span class="habs"> HABS 2017 </span>
        </div>
      </ion-card-title>
      <div style="text-align: center;">
       <span class="habs-details"> Haitian American Business Summit </span>
       </div>
       <hr>
       <!--p class="details"> HABS summit will provide an opportunity to evaluate and access the currently level of diaspora involvement in Haiti and explore new methods for interaction.</p-->
    </ion-card-content>
  </ion-card>
  <div style="text-align: center;">
	   <img src="assets/img/habs.png">
  </div>
</ion-content>
