page-presentation {

}


.habs{
	background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.habs-details{
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
    font-weight: bold;
	color: #0d3257;
}

.cart-icon{
    border-radius: 2px;
    border: solid 2px #ddd;
}


.home-icon{
  font-size: 70px;
  color: #638bff;
}
.home-icon-login{
  font-size: 70px;
  color: #5ff442;
}

.details{
	text-align: justify;
    text-justify: inter-word;
    font-size: 30px;
}

.text1{
    background-color: #0d3257;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
}