<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
        {{ 'LABEL_ATTENDEES' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
<ion-grid>
  <ion-row style="text-align: center; height: 250px;">
    <ion-col>
    	<div>
    		<img src="{{user.hUserImg}}"  *ngIf="lastImage === null">
        <img src="{{pathForImage(lastImage)}}" style="width: 100%" *ngIf="lastImage !== null" height="250">
    	</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center;" *ngIf="same_user">
    <ion-col col-6>
        <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>{{ 'LABEL_SELECT_IMG' | translate }}
        </button>
    </ion-col>
    <ion-col col-6> 
        <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
          <ion-icon name="cloud-upload"></ion-icon>{{ 'LABEL_UPDATE_PROFILE' | translate }}
        </button>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center;" *ngIf="!same_user">
    <ion-col col-12>
        <button ion-button  full [disabled]="true">
        </button>
    </ion-col>
  </ion-row>
</ion-grid>
<br/><br/><br/>
  <ion-grid class="details">
	  <ion-row>
	  	 <ion-col> {{'LABEL_FIRSTNAME' | translate }}:</ion-col> <ion-col> <strong> {{user.hUserFirstname}} </strong> </ion-col>
	  </ion-row>

	  <ion-row>
	  	<ion-col> {{'LABEL_LASTNAME' | translate }}: </ion-col> <ion-col> <strong> {{user.hUserLastname}} </strong> </ion-col>
	  </ion-row>

	  <ion-row>
	  	<ion-col> {{'LABEL_USERNAME' | translate }}: </ion-col> <ion-col><strong> {{user.hUserUsername}} </strong> </ion-col>
	  </ion-row>

	  <ion-row>
	  	<ion-col> Email: </ion-col> <ion-col> <strong> {{user.hUserEmail}} </strong> </ion-col>
	  </ion-row>
  </ion-grid>
  <br/>
  <hr/>
</ion-content>
 