
<ion-content style="background: #eee;">
   <div class="cul-head">
      
   </div>
  <ion-grid class="search">
    <ion-row>
      <ion-col col-2>
          <button ion-button menuToggle style="height: 50px;" color="light">
            <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
        <ion-col>                 
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
        <ion-col col-4>
          <button ion-button style="height: 50px;" color="danger" (click)="goMupanah()"> MUPANAH
        </button>
        </ion-col>
      </ion-row>
      </ion-grid>
     <ion-grid>
    <ion-row *ngFor="let a of other_areas">
      <ion-col (click)="openPageAreaDetails(a)">
          <ion-card>
            <ion-item>
              <ion-avatar item-left>
                <img [src]="getIMGUri(a.touristAreaImg)" />
              </ion-avatar>
              <h3>{{a.touristAreaName}}</h3>
            </ion-item>

            <ion-card-content>
              <ion-note style="text-transform: uppercase;">{{a.touristAreaType}}</ion-note>
            </ion-card-content>
    
          </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
