
.segment{
	background: #4491aa;
	margin: 0 2px 0 2px;
	border: solid 2px #fff;
}

.culture{
	background-size: 100% 100%;
	//padding-top: 20%;
	//padding-bottom: 30%;
    background-size: 100% 100%;
    height: 100%;
  }

.cul-head{
	background-image: url('../assets/img/logo/fokal.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
}
