<ion-header no-border>
  <ion-navbar color="primary" class="has-refresher">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <super-tabs height="100%" toolbarBackground="primary" toolbarColor="light" indicatorColor="light">
    <super-tab [root]="tab0Root" title="HABS"></super-tab>
    <super-tab [root]="tab1Root" title="June 15, 16, 17"></super-tab>
  </super-tabs>
</ion-content>