<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ 'LABEL_SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item style="">
      <ion-label>{{ "LABEL_LANGUAGE" | translate }} </ion-label>
      <ion-select [(ngModel)]="language_ch" (ionChange)="changeState()">
        <ion-option value="kr">Krey&ograve;l</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </ion-item>

   <ion-grid>
	  <ion-row>
	    <ion-col width-50>
	      <button ion-button full [disabled]="!isChange" (click)="validateChange()" color="dark">{{ 'LABEL_SAVE' | translate }} </button>
	    </ion-col>
	    <ion-col width-50>
	      <button ion-button full (click)="dismiss()" color="dark">{{ 'LABEL_CANCEL' | translate }} </button>
	    </ion-col>
	  </ion-row>
</ion-grid>
<br/>
<br/>
<br/>
</ion-content>
