

<ion-content padding style="background: #eee;">
 <!--div id="mvideo">
    <video width="100%" poster="" id="bgvid" controls playsinline autoplay muted loop>
       <source src="assets/videos/haccof.webm" type="video/webm">
    </video>
 </div-->
 <div>
    <img src="assets/img/media.png">
 </div>
  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <div class="logo">
      <a href="https://www.youtube.com/watch?v=1WuP3k8hkro">
          <ion-icon name="" item-left style="color: #f00">
              <img src="assets/img/logo/youtube.png">
          </ion-icon>
      </a>
      </div>
      <div class="logo">
          <a href="https://www.instagram.com/explore/tags/haccof/">
          <ion-icon name="" item-left style="color: #55acee">
              <img src="assets/img/logo/instagram.jpg">
          </ion-icon>
        </a>
      </div>
      <div class="logo">
          <a href="https://www.facebook.com/haccofl/">
             <ion-icon name="" item-left style="color: #0a4e93">
                 <img src="assets/img/logo/facebook.png">
             </ion-icon>
        </a>
      </div> 
      <div class="logo">
      <a href="https://twitter.com/HACCOFL">
          <ion-icon name="" item-left style="color: #55acee">
              <img src="assets/img/logo/twitter.jpg">
          </ion-icon>
      </a>
      </div>     
    </ion-fab-list>
  </ion-fab>
   <div class="media"> Get Social with HACCOF </div>
</ion-content>
