page-media {

}

.media{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
    font-weight: bold;
	color: #0d3257;
	text-align: center;
}

.logo{
	height: 50px;
	width: 50px;
	margin: 0 5px 10px 0;
}