
<ion-content padding class="log-head">
  <ion-card color="danger">
    <ion-card-header>
       {{ 'LABEL_SHARE' | translate }}
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor = "let d of data" text-wrap>
      <ion-avatar item-left>
        <img [src]="getImgUser(d.hUserId)">
      </ion-avatar>
      <h2>{{d.hUserUsername}}</h2>
      <hr>
      <p>{{d.userMessageContent}}</p>
      <p style="color: red; font-size: 10px;">{{d.userMessageDate}}</p>
    </ion-item>
  </ion-list>
</ion-content>