

<ion-header no-border>
  <ion-navbar color="primary" class="has-refresher">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'LABEL_ATTENDEES' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-list>
 <div *ngFor="let u of other_users">
  <ion-item *ngIf="u.hUserUsername.length > 0">
    <ion-thumbnail item-left (click)="goUserDetails(u)">
      <img src={{getUserImg(u)}}>
    </ion-thumbnail>
    <span  (click)="goUserDetails(u)">
    <strong>User: </strong> {{u.hUserUsername}}
    <hr style="background: #666;">
      Firstname: <strong> {{u.hUserFirstname}} </strong>
      Lastname: <strong> {{u.hUserLastname}} </strong>
    </span>
    <button ion-button color="danger" item-right (click)="goChat(u)">Chat</button>
    <hr style="background: #00f;">
  </ion-item>
 </div>
</ion-list>

<div style="text-align: center; margin-top: 70px;" *ngIf="!login">      
    <h1 style="color: #f00">You're not login. Please login or register !</h1>
</div>

</ion-content>
