
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> {{ 'LABEL_SPEAKER' | translate }} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    
  <ion-toolbar no-border-top>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  
  <ion-list *ngIf="other_speakers != 'undefined'">
    <ion-item *ngFor="let s of other_speakers" (click)="goDetailsPage(s)">
          <ion-thumbnail item-left>
          <img src={{getSpeakerImg(s)}}/>
          </ion-thumbnail>
          <h2>{{s.SPEAKER_FIRSTNAME}}</h2>
          <p> {{s.SPEAKER_TITLE}} </p>
      </ion-item>
  </ion-list>
</ion-content>
