
<ion-header no-border>
  <ion-navbar color="primary" class="has-refresher">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ 'LABEL_MENU' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<super-tabs height="100%" toolbarBackground="primary" toolbarColor="light" indicatorColor="light">
	  <super-tab [root]="tab1Root" title=" {{ 'LABEL_HOME' | translate }}"></super-tab>
	  <super-tab [root]="tab2Root" title="Media"></super-tab>
	  <super-tab [root]="tab3Root" title="Map"></super-tab>
	  <super-tab [root]="tab4Root" title=" {{ 'LABEL_SPONSORS' | translate }}"></super-tab>
	</super-tabs>
</ion-content>