page-home {

}

/*
ion-slides {
  height: auto;
}
*/

.habs-details{
	font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.cart-icon{
    border-radius: 2px;
    border: solid 2px #ddd;
}


.home-icon{
  font-size: 70px;
  color: #638bff;
}
.home-icon-login{
  font-size: 70px;
  color: #5ff442;
}

.menu-item{
    width: 100%;
    height: 100%;
    color:white;
    background: #fff;
    margin: 5% 5% 5% 2%;
    min-height: 120px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4) !important;
    border-radius: 2px;
}