
<ion-content padding class="log-head">
  <ion-card>
    <ion-card-header>
      <div class="tit">{{ 'LABEL_ABOUT' | translate }} Atouri</div>
    </ion-card-header>
    <ion-card-content class="just">
		<strong style="color: #0D3257; font-size: bold;">Atouri</strong> {{'LABEL_ABOUT_ATOURI' | translate }}
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
      <ion-card-header>
      	  <div class="tit">{{ 'LABEL_TEAM' | translate }}<strong>-KASIKREVO</strong></div>
      </ion-card-header>
    
      <ion-card-content>
      	<ion-list>
      		<div>
		      <img src="assets/img/user/mak.jpg">
      		</div>
		  <ion-item text-wrap>
            <p class="just">
        	 {{'LABEL_KASIKREVO' | translate }}
            </p>
            </ion-item>
 
		  <ion-item text-wrap>
		    <ion-thumbnail item-start>
		      <img src="assets/img/user/black.png">
		    </ion-thumbnail>
		    <h2>TizonDife</h2>
		    <p>{{ 'LABEL_DEV_TITLE1' | translate }}</p>	  
			</ion-item>
			<ion-item text-wrap>
			<p class="just">
				{{ 'LABEL_DEV_DETAILS1' | translate }}
			</p>
			<hr>
			</ion-item>

		  <ion-item>
		    <ion-thumbnail item-start>
		      <img src="assets/img/user/legba.png">
		    </ion-thumbnail>
		    <h2>Wangolo</h2>
		    <p>{{ 'LABEL_DEV_TITLE2' | translate }}</p>
		  </ion-item>
			<ion-item text-wrap>
			<p class="just">
				{{ 'LABEL_DEV_DETAILS2' | translate }}
			</p>
			<hr>
			</ion-item>

		  <ion-item>
		    <ion-thumbnail item-start>
		      <img src="assets/img/user/bs.jpeg">
		    </ion-thumbnail>
		    <h2>Manzè</h2>
		    <p>{{ 'LABEL_DEV_TITLE3' | translate }}</p>
		  </ion-item>
		  <ion-item text-wrap>
			<p class="just">
				{{ 'LABEL_DEV_DETAILS3' | translate }}
			</p>
			<hr>
			</ion-item>
		</ion-list>
	</ion-card-content>
  </ion-card>

   <ion-card>
    <ion-card-header>
        <div class="tit">{{ 'LABEL_SPONSORS' | translate }}</div>
    </ion-card-header>
    <ion-card-content>
      <strong> &nbsp; KasikRevo</strong>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <div class="tit">{{ 'LABEL_CONTACT' | translate }}</div>
    </ion-card-header>
    <ion-card-content>
      &nbsp; Email: <strong>tizondife509@gmail.com</strong>
    </ion-card-content>
  </ion-card>
</ion-content>
