
<ion-content>
 <ion-fab top right #fab>
   <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
   <ion-fab-list side="bottom">
     <button ion-fab (click)="share('wt')"><ion-icon style="color: #34af23;" name="logo-whatsapp"></ion-icon></button>
     <button ion-fab (click)="share('fb', fab)"><ion-icon style="color: #3B5998;" name="logo-facebook"></ion-icon></button>
     <button ion-fab (click)="share('tw')"><ion-icon style="color: #1da1f2;" name="logo-twitter"></ion-icon></button>
   </ion-fab-list>
 </ion-fab>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
		    <img src="assets/img/haiti.svg"/>
      </ion-avatar>
      <h2>{{area.touristAreaName}}</h2>
      <p style="text-transform: uppercase;">{{area.touristAreaType}} </p>

    </ion-item>
    <ion-card-content>
      <img src={{getImgUrl(area.touristAreaImg)}} imageViewer/>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
        <strong>Description</strong>
    </ion-card-header>
    <ion-card-content>
       <div class="just">{{area.touristAreaDesc}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="area.touristAreaDetails">
    <ion-card-header>
        <strong>Details</strong>
    </ion-card-header>
    <ion-card-content>
       <div class="just">{{area.touristAreaDetails}} </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
     <div style="height: 40px; background: #ff5959;">
     </div>

    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Localisation</strong>
        </ion-col>
      </ion-row>
    	<ion-row>
    		<ion-col>
           {{area.touristAreaLoc}}
    		</ion-col>
    	</ion-row>
      </ion-grid>
      <ion-grid>
    	<ion-row>
    		<ion-col>
    			<hr>
    		</ion-col>
    	</ion-row>
    </ion-grid>
      </ion-card-content>
  </ion-card>
  
  <div style="height: 80px;">
    
  </div>
</ion-content>
