

<ion-header no-border> 
    <ion-navbar color="dark" no-border>
      <ion-buttons >
        <button ion-button menuToggle start>
           <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>  
    </ion-navbar>
</ion-header>

<ion-content>
	<super-tabs height="100%" toolbarBackground="dark" toolbarColor="navbarColor" indicatorColor="navbarColor">
	    <super-tab [root]="tab1Root" title="{{title}}" [rootParams]="{area: area}"></super-tab>
      <super-tab [root]="tab2Root" title="Map" [rootParams]="{destination: destination}"></super-tab>
	</super-tabs>
</ion-content>
