
.sbtn{
	height: 80px;
	width: 7em;
	margin-top: 20px;
	color: #fff;
}



.fond{
	border: solid 1px #fff;
	background: #0D3257;

}

.just{
	text-align: justify;
    text-justify: inter-word;
}

.side-content{
	text-align: center;
}
