<ion-menu type="push" [content]="content" style="width: 100px; padding-right: 0px!important;" id="my_menu"  type="overlay">
  <!--ion-header no-border>
    <div style="height: 57px; background: #fff; border-bottom: solid 1px #fff">
      
    </div>
  </ion-header-->
  
  <ion-content class="fond">
    <div class="side-content">
    
       <div class="sbtn" (click)="openPage(pages[0].component)"> 
         <button ion-button color="light">    
            <ion-icon name="home"></ion-icon>
         </button> 
          <p>{{ 'LABEL_HOME' | translate }}</p>
      </div>

       <div class="sbtn" (click)="openPage(pages[1].component)"> 
         <button ion-button color="light">    
            <ion-icon ios="ios-moon" md="md-moon"></ion-icon>
         </button> 
          <p>{{ 'LABEL_TOURIST' | translate }}</p>
      </div>

       <div class="sbtn" (click)="openPage(pages[2].component)"> 
         <button ion-button color="light">    
            <ion-icon name="sunny"></ion-icon>
         </button> 
          <p>{{ 'LABEL_CULTURE' | translate }}</p>
       </div>

       <div class="sbtn" (click)="openPage(pages[3].component)"> 
         <button ion-button color="light">    
            <ion-icon name="contact"></ion-icon>
         </button> 
          <p>{{ 'LABEL_COMMUNITY' | translate }}</p>
       </div>
    </div>
  </ion-content>
 </ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>