
<ion-content padding>
     <div style="background: #2c3e50; text-align: center; color: #fff;">
        <div style="padding-top: 10px; padding-bottom: 10px;">  {{ 'LABEL_SIGNIN' | translate }} </div>
     </div>
    <form [formGroup]="User" (ngSubmit)="validateLogin()">
      <ion-list  padding>
        <ion-item>
          <ion-label stacked> {{ 'LABEL_USERNAME' | translate }}</ion-label>
          <ion-input formControlName="hUserUsername" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked> {{ 'LABEL_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="hUserPassword" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <button ion-button full type="submit" [disabled]="!User.valid" color="danger">{{ 'LABEL_SAVE' | translate }} </button>
          </ion-col>
          <ion-col width-50>
            <button ion-button full (click)="dismiss()" type="button" color="danger"> {{ 'LABEL_CANCEL' | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
