page-evt1 {

}

 .bkg{
	background-image: url('../assets/img/backg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//padding-top: 20%;
	//padding-bottom: 30%;

  }

  .cont{
  	vertical-align: middle;
  }

  .hour-content{
  	font-size: 30px;
  	color: #130f2f;
  	font-weight: bold;
  	border-bottom: solid 2px #130f2f;
  	margin: 10px 0 10px 0;
  }

  .speaker{
  	font-size: 18px;
  	color: #130f2f;
  	font-weight: bold;
  }

  .panel{
  	font-size: 20px;
  	color: #130f2f;
  	font-weight: bold;
  	margin: 5px 0 10px 0; 
  }

  .evt-content{
  	font-size: 18px;
  }

  .sect{
  	border-top: solid 1px #130f2f;
  	margin: 10px 0 3px 0;
  }


page-home {
 
    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
    }
}