
<ion-content>
  <ion-slides class="image-slider" loop="false" slidesPerView="1">
    <ion-slide *ngFor="let img of images">
      <img src="assets/img/events/{{img}}" class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
</ion-content>