page-tourist-area {

}

.area-head{
	background-image: url('../assets/img/head.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
}

.area-text{
	font-size: 20px;
	text-align: center;
	padding: 60px 2px 80px 2px;
	color: #fff;
	height: 100px;
	margin-top: -0.1em;
}

.search{
	background: #0D3257;
}