
<ion-content style="background: #eee;" scroll="false">
	<div class="area-head">
		
	</div>
	<ion-fab bottom right #fab (click)="moveUp()">
	   <button ion-fab color="danger"><ion-icon name="arrow-dropup-circle"></ion-icon></button>
	</ion-fab>

	  <ion-grid class="search" #headerTag>
	  	<ion-row>
	  	  	<ion-col col-2>
	  		    <button ion-button menuToggle style="height: 50px;" color="light">
	      			<ion-icon name="menu"></ion-icon>
	    		</button>
	    	</ion-col>
	  		<ion-col>                 
	    		<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	  		</ion-col>
	  	</ion-row>
	  	</ion-grid>
	   <ion-grid>
		<ion-row *ngFor="let a of other_areas">
			<ion-col (click)="openPageAreaDetails(a)">
				  <ion-card>
				    <ion-item>
				      <ion-avatar item-left>
				        <img [src]="getIMGUri(a.touristAreaImg)" />
				      </ion-avatar>
				      <h2>{{a.touristAreaName}}</h2>
				    </ion-item>

				    <ion-card-content>
				      <ion-note style="text-transform: uppercase;">{{a.touristAreaType}}</ion-note>
				    </ion-card-content>
				        <!--button ion-button color="danger" item-right (click)="openPageAreaDetails(a)">{{'LABEL_DETAILS' | translate }}</button-->
				  </ion-card>
			</ion-col>
		</ion-row>
		</ion-grid>
</ion-content>
