<ion-menu [content]="content" style="background: rgba(300, 300, 300, 0.3)"> 
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only *ngIf="user != null">
        <span *ngIf="user != null" class="user">
           {{user.USER_USERNAME}}
        </span>
      </button>
    </ion-buttons>

    <ion-title> {{ 'LABEL_MENU' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content  style="background: #ddd;">
    <ion-list>
      <ion-list-header>
        {{ 'LABEL_NAVIGATE' | translate }}
      </ion-list-header>

      <button ion-item (click)="openPage(0)">
        <ion-icon name="home" item-left></ion-icon>
        {{ 'LABEL_HOME' | translate }}
      </button>
      <button ion-item (click)="openPage(1)">
        <ion-icon name="calendar" item-left></ion-icon>
        {{ 'LABEL_EVENT_PROGRAM' | translate }}
      </button>
      <button ion-item (click)="openPage(2)">
        <ion-icon name="ios-mic" item-left></ion-icon>
        {{ 'LABEL_SPEAKER' | translate }}
      </button>     
      <!--button ion-item (click)="openPage(3)">
        <ion-icon name="person" item-left></ion-icon>
        {{ 'LABEL_ACCOUNT' | translate }}
      </button-->
    </ion-list>

    <ion-list>
      <ion-list-header>
        {{ 'LABEL_ACCOUNT' | translate }}
      </ion-list-header>
      <button ion-item (click)="presentLoginModal()">
        <ion-icon name="md-log-in" item-left></ion-icon>
        {{ 'LABEL_SIGNIN' | translate }}
      </button>
      <button ion-item (click)="presentModal()">
        <ion-icon name="md-person-add" item-left></ion-icon>
        {{ 'LABEL_SIGNUP' | translate }}
      </button>
      <button ion-item (click)="presentUserDatailsPage()">
        <ion-icon name="person" item-left></ion-icon>
        {{ 'LABEL_USER_DETAILS' | translate }}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        {{ 'LABEL_COMMUNITY' | translate }}
      </ion-list-header>
      <button ion-item (click)="openUserPage()">
        <ion-icon name="contacts" item-left></ion-icon>
        {{ 'LABEL_ATTENDEES' | translate }}
      </button>
      <button ion-item (click)="openMsgPage()">
        <ion-icon name="chatboxes" item-left></ion-icon>
        {{ 'LABEL_MESSAGES' | translate }}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>