<ion-header>
  <ion-navbar color="dark">
    <ion-title> {{ 'LABEL_ACCOUNT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="User" (ngSubmit)="validateUser()">
    <ion-list  padding>
      <ion-item>
        <ion-label stacked> {{ 'LABEL_FIRSTNAME' | translate }}</ion-label>
        <ion-input formControlName="hUserFirstname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked> {{ 'LABEL_LASTNAME' | translate }}</ion-label>
        <ion-input formControlName="hUserLastname" type="text"></ion-input>
      </ion-item>
      <!--ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input formControlName="hUserTitle" type="text"></ion-input>
      </ion-item-->
      <ion-item>
          <ion-label stacked> {{ 'LABEL_SEX' | translate }}</ion-label>
          <ion-select formControlName="hUserSex">
            <ion-option value="M">M </ion-option>
            <ion-option value="F">F</ion-option>
          </ion-select>
      </ion-item>
      <!--ion-item>
        <ion-label stacked>Tel</ion-label>
        <ion-input formControlName="hUserPhone" type="number"></ion-input>
      </ion-item-->
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="hUserEmail" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked> {{ 'LABEL_USERNAME' | translate }}</ion-label>
        <ion-input formControlName="hUserUsername" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked> {{ 'LABEL_PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="hUserPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <button ion-button full type="submit" [disabled]="!User.valid" (click)="setClick()" color="danger">{{ 'LABEL_SAVE' | translate }} </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button full (click)="dismiss()" type="button" color="danger">{{ 'LABEL_CANCEL' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
