
<ion-header no-border>
  <ion-navbar color="primary" class="has-refresher">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Message </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item *ngFor = "let m of other_messages">
    <ion-avatar item-left>
      <img src={{m.img}}>
    </ion-avatar>
    <h2>{{m.user}}</h2>
    <hr style="background: #666">
    <p>{{m.data.messageContent}}</p>
    <p *ngIf="m.sendTo && m.sendTo.length > 0">To <span style="color: #f50">{{m.sendTo}}</span> </p>
  </ion-item>
</ion-list>

<div style="text-align: center; margin-top: 70px;" *ngIf="!login">      
 	<img src="assets/img/user/user.jpg">
    <h1 style="color: #f00">You're not login. Please login or register !</h1>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
    <ion-row *ngIf="login && user_chat">
      <ion-col>
       Seng message to {{user_chat.hUserUsername}} 
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="send-btn" color="primary"  [disabled]="!login" (click)="addUser()">
       <ion-icon name="person" class="m-icon"></ion-icon>
      </button>
      <ion-textarea class="msg" [(ngModel)] = "userTyping"> placeholder="Text Input"></ion-textarea>

       <button ion-button class="send-btn" color="primary"  [disabled]="!login" (click)="addMsg()">
       <ion-icon name="send" class="m-icon"></ion-icon>
    </button>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>