<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ 'LABEL_HELP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item style="background: #0D3257; color: #fff;">
      <ion-label>{{ "LABEL_LANGUAGE" | translate }} </ion-label>
      <ion-select [(ngModel)]="language_ch" (ionChange)="changeState()">
        <ion-option value="kr">Krey&ograve;l</ion-option>
        <ion-option value="en">English</ion-option>
        <ion-option value="fr">Français</ion-option>
      </ion-select>
    </ion-item>
    <!--button ion-button full [disabled]="!isChange" (click)="validateChange()" color="danger">{{ 'LABEL_SAVE' | translate }} </button-->
  <br/>
  <br/>

  <ion-card>
    <ion-card-header>
        <div class="tit"> {{'LABEL_HELP_GENERAL' | translate }}</div>
    </ion-card-header>
    <ion-card-content>
      <div class="just">
          <strong>Atouri</strong>, {{'LABEL_ABOUT_ATOURI' | translate }}
       </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <div class="tit"> {{'LABEL_HELP_LOC' | translate }}</div>
    </ion-card-header>
    <ion-card-content>
      <div class="just">
          {{'LABEL_HELP_LOC_TEXT' | translate }}
       </div>
    </ion-card-content>
  </ion-card>

    <ion-card>
    <ion-card-header>
        <div class="tit"> {{'LABEL_CONTACT' | translate }}</div>
    </ion-card-header>
    <ion-card-content>
      <div class="just"> 
        {{'LABEL_HELP_TEXT1' | translate }}      
      </div>
      <br/>
      <div class="just">
          {{'LABEL_HELP_TEXT2' | translate }}      
      </div>
       <br/>
       <div class="just">
          {{'LABEL_HELP_TEXT3' | translate }}  <strong>tizondife509@gmail.com</strong>     
       </div>
    </ion-card-content>
  </ion-card>

    <ion-card>
      <ion-card-header>
          <div class="tit">{{'LABEL_CONTRIBUTE' | translate }} </div>
      </ion-card-header>
      <ion-card-content>
        <div class="just">
          {{'LABEL_CONTRIBUTE_TEXT' | translate }}         
        </div>
      </ion-card-content>
    </ion-card>

   <ion-grid>
	  <ion-row>
	    <ion-col>
	      <button ion-button full (click)="dismiss()" color="dark">{{ 'LABEL_CLOSE' | translate }} </button>
	    </ion-col>
	  </ion-row>
</ion-grid>
<br/>
<br/>
  <ion-note> Atouri 2017</ion-note>
<br/>
</ion-content>
