

<ion-content padding class="log-head">
  <ion-card>
    <ion-card-header color="danger">
       {{ 'LABEL_WARN' | translate }}
    </ion-card-header>
    <ion-card-content>
        <div class="just">{{ 'LABEL_WARN_DETAILS' | translate }} </div>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor = "let m of messages" text-wrap>
      <ion-avatar item-left>
        <img src={{m.img}}>
      </ion-avatar>
      <h2>{{m.username}}</h2>
      <hr>
      <p>{{m.msg}}</p>
      <p style="color: red; font-size: 10px;">{{currDate}}</p>
    </ion-item>
  </ion-list>
   <div style="height: 180px;">
     
   </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
    <ion-row>
      <!--button ion-button class="send-btn" color="danger">
       <ion-icon name="person" class="m-icon"></ion-icon>
      </button-->
      <ion-textarea class="msg" [(ngModel)] = "userTyping"> placeholder="Text Input" </ion-textarea>

       <button ion-button class="send-btn" color="danger"  (click)="addMsg()">
       <ion-icon name="send" class="m-icon"></ion-icon>
    </button>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>