page-user-message {

}
.send-icon{
	font-size: 50px;
	color: #67a;
}

.send-btn{
	width: 50px;
	height: 50px;
}

.msg{
	border: solid 1px #666;
	background: #fff;
}

.msg-area{
	overflow: scroll;
	background: #eee;
}

.msg-item{
	background: #eee;
	border: solid 1px #666;
}