<ion-tabs color="primary" [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="HomeRoot" tabTitle="{{'LABEL_HOME' | translate }}" tabIcon="home"></ion-tab>
  <ion-tab [root]="EventsRoot" tabTitle="{{'LABEL_EVENT' | translate }}" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="SpeakersRoot" tabTitle="{{'LABEL_SPEAKER' | translate }}" tabIcon="ios-mic"></ion-tab>
  <!--ion-tab [root]="CommunitRoot" tabTitle="{{'LABEL_ACCOUNT' | translate }}" tabIcon="ion-person-stalker"></ion-tab-->
  <ion-tab [root]="AboutRoot" tabTitle="{{'LABEL_ABOUT' | translate }}" tabIcon="information-circle"></ion-tab>
</ion-tabs>
