
<ion-header>
  <ion-grid>
  	<ion-row>
  		<ion-col style="text-align: center;">
  			Origin: <span style="color: #80c740; font-size: 16px;">A</span>
	    </ion-col>

  		<ion-col style="text-align: center;">
  			Destination: <span style="color: #f85c50; font-size: 16px;">B</span>
	    </ion-col>
	</ion-row>
  </ion-grid>
</ion-header>

 <ion-content>
  <div #map id="map"></div>
 </ion-content>
