
<ion-content padding>
      <img src="assets/img/logo/logo.png">
      <form [formGroup]="User" (ngSubmit)="validateLogin()">
        <ion-list  padding>
          <ion-item>
            <ion-label stacked> {{ 'LABEL_USERNAME' | translate }}</ion-label>
            <ion-input formControlName="hUserUsername" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked> {{ 'LABEL_PASSWORD' | translate }}</ion-label>
            <ion-input formControlName="hUserPassword" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <button ion-button full type="submit" [disabled]="!User.valid" (click)="setClick()">{{ 'LABEL_SAVE' | translate }} </button>
            </ion-col>
            <ion-col width-50>
              <button ion-button full (click)="dismiss()"> {{ 'LABEL_CANCEL' | translate }}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
