
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> {{ 'LABEL_SPEAKER' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="isLoad">
    <img src={{speaker.SPEAKER_IMG1}}/>

    <ion-card-content>
      <ion-card-title>
        {{speaker.SPEAKER_FIRSTNAME }} {{speaker.SPEAKER_LASTNAME }}
      </ion-card-title>
      <h2> 
       <strong> {{speaker.SPEAKER_TITLE}} </strong>
      </h2>
      <p> 
      		{{speaker.SPEAKER_PANEL}}
      </p>
      
      <hr>
     <span class="sp-details"> {{speaker.SPEAKER_DETAILS}} </span>

    <hr>

    </ion-card-content>
  </ion-card>
</ion-content>

