page-registration {

}

.log-head{
	background-image: url('../assets/img/go.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}

.txt{
	text-align: center; 
	font-size: 20px; 
	font-weight: bold;
	color: #fff;
}