
<ion-content>
  <div class="log-head">

		<div style="height: 40%;">
		  	
		</div>

        <ion-row>
           <ion-col class="txt">
		    	{{'LABEL_MYSTERIOUS_LAND' | translate }}
		   </ion-col>
        </ion-row>
        <div style="margin-left: 5%; margin-right: 5%;">
			<ion-row padding>
				<ion-col col-6>
					<div class="login">
						<button ion-button full (click)="goPage(2)" color="danger" [disabled]="isLogin">	{{ 'LABEL_SIGNIN' | translate }}
						</button>
					</div>
				</ion-col>

				<ion-col col-6>
					<div class="login">
						<button ion-button full color="danger" (click)="goPage(0)" [disabled]="isRegistered">{{ 'LABEL_SIGNUP' | translate }}</button>
					</div>
				</ion-col>
		</ion-row>
		</div>
   </div>
</ion-content>
